body{
    padding: 0px;
    padding-bottom: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;

    line-height: 1.5em;
    background: linear-gradient(white 20%, #a8baa0);
    

    main{
        width: 40%;
        min-width: 400px;
        margin-top: 50px;
        /*display: flex;
        flex-direction: column;
        align-items: center; */
    }

    section {
        margin-bottom: 10%;
        
    }
    
}

.questionDiv{
    margin-bottom: 50px;

} 



#form {
    margin-top: 50px;
}

h1, h2, h3, p, label {
    color: rgb(46, 46, 46);
}

h1 {
    font-size: 60px;
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
    line-height: 1.0em;
}

h2{
    font-size: 34px;
    color: rgb(57, 57, 57);
    line-height: 1.0em;
    
}

h3{
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
    line-height: 1.2em;
    letter-spacing: 0.3px;
}

p, input, section label {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(46, 46, 46);
} 




//Dark mode
    
#darkModeBtn{
    width: 10%;
    background-color: rgb(46, 46, 46);
    color:white;
    border-radius: 5px;
    padding: 9px;
    position:absolute; 
    top:5%; 
    right:10%; 
    box-shadow: 5px 5px 5px  rgba(33, 33, 33, 0.3);

}

.darkMode {
    background: none;
    background-color: rgb(46, 46, 46);
    
    h1, h2, h3, p, label {
        color: white;
    }

    .greenText {
        color: rgb(126, 190, 126);
    }
    
    .orangeText {
        color: rgb(253, 190, 72);
    }
    
    .redText {
        color: rgb(252, 119, 119);
    }

    #darkModeBtn{
        background-color: white;
        color: rgb(46,46,46);
    }

    #resultBox{
        background-color:  rgb(46, 46, 46);
        box-shadow: none;
    }

    #footerImgDarkMode{
        opacity: 70%;
    }
    
}




//Resultat

#resultBtn {
    width: 15%;
    min-width:30px ;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    padding: 9px;
    box-sizing: border-box;
    border-style: none;
    background-color: white;
    box-shadow: 5px 5px 5px  rgba(33, 33, 33, 0.3);
    
}

#resultBox{
    width: 80%;
    height: 70px;
    padding: 3%;
    margin-top: 5px;
    
    background-color: white;
    border-radius: 8px 8px 0 0 ;
    box-shadow: 5px 5px 5px  rgba(33, 33, 33, 0.3);

}

.greenText {
    color: green;
}

.orangeText {
    color: orange;
}

.redText {
    color: red;
}

.hide {
    display: none;
}


#you-shall-not-pass-img {
    width: 80%;
    padding:3%;
    
    background-color: white;
    border-radius: 0 0 8px 8px;
    box-shadow: 5px 5px 5px  rgba(33, 33, 33, 0.3);
}




footer{
    padding-bottom: 0;
    margin-bottom: 0;
    position:relative;
    bottom: 0;

    overflow-x: hidden;
    .footerImg {
        width: 100vw;
        
    }

    
}
